{importTemplate('public/header')}

<link rel="stylesheet" type="text/css" href="{PUBLIC_URL}css/account.css">

<div class="container">
    <div class="row-fluid">
        {importTemplate('account/sidebar')}
        <div class="span9">
            <div class="box content">
                <div class="page-header">旅馆订单</div>

                {loop $page['records'] $index $order}
                <table class="table table-bordered order-cell">
                    <thead>
                    <tr class="header">
                        <th width="76"><b>ID</b></th>
                        <th>预订用户</th>
                        <th>用户联系电话</th>
                        <th>房间类型</th>
                        <th width="80">下单时间</th>
                    </tr>
                    </thead>
                    <tbody algin="center">
                    <tr>
                        <td><b>{$order['id']}</b></td>
                        <td>{$order['user']['name']}</td>
                        <td>{$order['user']['tel']}{if $order['user']['otherTel']} , $order['user']['otherTel']{/if}</td>
                        <td>{$order['room']['name']}</td>
                        <td>{php echo getFriendlyTime($order['addTime'])}</td>
                    </tr>
                    <tr>
                        <td><b>预订范围 (共{php echo substr_count($order['range'],'|') + 1}天)</b></td>
                        <td colspan="4">{php echo str_replace('|','，',$order['range'])}</td>
                    </tr>
                    <tr>
                        <td><b>留言</b></td>
                        <td colspan="4">{$order['comment']}</td>
                    </tr>

                    </tbody>
                </table>
                {/loop}

                {if $paging['totalPages'] > 1}
                <div class="pagination pagination-centered">
                    <ul>
                        {if !$paging['isStart']}
                        <li><a href="{$paging['url']}{php echo $paging['pageIndex']-1}">«</a></li>
                        {/if}

                        {loop $paging['pageNames'] $name}
                        <li {if $paging['pageIndex'] == $name}class="active"{/if}><a href="{$paging['url']}{$name}">{$name}</a></li>
                        {/loop}

                        {if !$paging['isEnd']}
                        <li><a href="{$paging['url']}{php echo $paging['pageIndex']+1}">»</a></li>
                        {/if}
                    </ul>
                </div>
                {/if}
            </div>
        </div><!--/span-->
    </div><!--/row-->

</div><!--/.fluid-container-->

{importTemplate('public/footer')}