{importTemplate('public/header')}

<link rel="stylesheet" type="text/css" href="{PUBLIC_URL}css/account.css">

<div class="container">
    <div class="row-fluid">
        {importTemplate('account/sidebar')}
        <div class="span9">
            <div class="box content">
                <div class="page-header">旅馆订单</div>

                {loop $page['records'] $index $order}
                <table class="table table-bordered order-cell">
                    <thead>
                    <tr class="header">
                        <th width="76"><b>ID</b></th>
                        <th>预订用户</th>
                        <th>用户联系电话</th>
                        <th>房间类型</th>
                        <th width="80">下单时间</th>
                    </tr>
                    </thead>
                    <tbody algin="center">
                    <tr>
                        <td><b>{$order['id']}</b></td>
                        <td>{$order['user']['name']}</td>
                        <td>{$order['user']['tel']}{if $order['user']['otherTel']} , $order['user']['otherTel']{/if}</td>
                        <td>{$order['room']['name']}</td>
                        <td>{php echo getFriendlyTime($order['addTime'])}</td>
                    </tr>
                    <tr>
                        <td><b>预订范围 (共{php echo substr_count($order['range'],'|') + 1}天)</b></td>
                        <td colspan="4">{php echo str_replace('|','，',$order['range'])}</td>
                    </tr>

                    {if $order['comment']}
                    <tr>
                        <td><b>留言</b></td>
                        <td colspan="4">{$order['comment']}</td>
                    </tr>
                    {/if}

                    {if $order['status']==3}
                    <tr>
                        <td><b>订单密码</b></td>
                        <td colspan="4">
                            <b><font color="green">{$order['code']}</font></b>
                        </td>
                    </tr>
                    {/if}

                    <tr>
                        <td><b>订单状态</b></td>
                        <td colspan="4">
                            {if $order['isExpiry']}
                            <span class="label label-inverse">已过期</span>
                            {/if}

                            {if $order['status']==1}
                            <span class="label label-success">已确认</span>
                            {elseif $order['status']==2}
                            <span class="label label-important">已取消</span>
                            {elseif $order['status']==3}
                            <span class="label label-success">入住成功</span>
                            {else}
                            <span class="label label-info">未确认</span>
                            {/if}
                        </td>
                    </tr>

                    <tr>
                        <td><b>订单操作</b></td>
                        <td colspan="4">
                            {if $order['status']==0 && !$order['isExpiry']}
                                <a href="{SITE_URL}account/merchant/confirmOrder?order_id={$order['id']}" class="btn btn-success">确认订单</a>&nbsp;
                            {/if}

                            {if $order['status']<2 && !$order['isExpiry']}
                                <a onclick="return confirm('您确定要取消该订单？')" href="{SITE_URL}account/merchant/cancelOrder?order_id={$order['id']}" class="btn btn-danger">取消订单</a>
                            {/if}

                            {if $order['status']==2 || $order['isExpiry']}
                            <a onclick="return confirm('您确定要删除该订单？')" href="{SITE_URL}account/merchant/ignoreOrder?order_id={$order['id']}" class="btn btn-danger">删除订单</a>
                            {/if}
                        </td>
                    </tr>

                    </tbody>
                </table>
                {/loop}

                {if $paging['totalPages'] > 1}
                <div class="pagination pagination-centered">
                    <ul>
                        {if !$paging['isStart']}
                        <li><a href="{$paging['url']}{php echo $paging['pageIndex']-1}">«</a></li>
                        {/if}

                        {loop $paging['pageNames'] $name}
                        <li {if $paging['pageIndex'] == $name}class="active"{/if}><a href="{$paging['url']}{$name}">{$name}</a></li>
                        {/loop}

                        {if !$paging['isEnd']}
                        <li><a href="{$paging['url']}{php echo $paging['pageIndex']+1}">»</a></li>
                        {/if}
                    </ul>
                </div>
                {/if}
            </div>
        </div><!--/span-->
    </div><!--/row-->

</div><!--/.fluid-container-->

{importTemplate('public/footer')}