{importTemplate('public/header')}

<div class="container">
    <div class="row-fluid">
        {importTemplate('account/sidebar')}
        <div class="span9">
            <div class="content box account-content">
                <form class="form-horizontal" name="changePwd" method="POST" action="{SITE_URL}account/doChangePassword">
                    <div class="control-group">
                        <label class="control-label" for="inputPassword"><span class="require">*</span>原密码</label>
                        <div class="controls">
                            <input type="password" id="inputPassword" name="oldPwd">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputNewPassword"><span class="require">*</span>新密码</label>
                        <div class="controls">
                            <input type="password" id="inputNewPassword" name="newPwd">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputRePassword"><span class="require">*</span>重复新密码</label>
                        <div class="controls">
                            <input type="password" id="inputRePassword" name="rePwd">
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">修 改</button>
                    </div>
                </form>
            </div>
        </div><!--/span-->
    </div><!--/row-->

</div><!--/.fluid-container-->

{importTemplate('public/footer')}