{importTemplate('public\header')}

<div class="container">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav box">
        <ul class="nav nav-list">
          <li class="nav-header">商家中心</li>
          <li class="active"><a href="#">我的中心</a></li>
          <li><a href="#">我的旅馆</a></li>
          <li><a href="#">旅馆订单</a></li>
          <li class="nav-header">账户相关</li>
          <li><a href="#">修改个人资料</a></li>
          <li class="nav-header">安全设置</li>
          <li><a href="#">修改密码</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <div class="content box">
        
      </div>
    </div><!--/span-->
  </div><!--/row-->

</div><!--/.fluid-container-->

{importTemplate('public\footer')}