<div class="span3">
    <div class="well sidebar-nav box">
        <ul class="nav nav-list">
            <li class="nav-header">商家中心</li>
            <li {if ACTION == 'index'}class="active"{/if}>
                <a href="{SITE_URL}account">我的中心</a>
            </li>

            {if $_SESSION['session_user']['isMerchant']}
            <li {if ACTION == 'hotelEdit'}class="active"{/if}>
                <a href="{SITE_URL}account/merchant/hotelEdit">我的旅馆</a>
            </li>
            <li {if ACTION == 'roomEdit'}class="active"{/if}>
            <a href="{SITE_URL}account/merchant/roomEdit">旅馆房间</a>
            </li>
            <li {if ACTION == 'hotelOrder'}class="active"{/if}>
                <a href="{SITE_URL}account/hotelOrder">旅馆订单</a>
            </li>
            {/if}

            <li class="nav-header">账户相关</li>
            <li {if ACTION == 'changeProfile'}class="active"{/if}>
                <a href="{SITE_URL}account/changeProfile">修改资料</a>
            </li>

            <li class="nav-header">安全设置</li>
            <li {if ACTION == 'changePassword'}class="active"{/if}>
                <a href="{SITE_URL}account/changePassword">修改密码</a>
            </li>
        </ul>
    </div><!--/.well -->
</div><!--/span-->