{importTemplate('public\header')}

<link rel="stylesheet" type="text/css" href="{PUBLIC_URL}css/detail.css">

<div class="container">
    <div class="row-fluid">

        <div class="span8">
            {loop $hotel['rooms'] $index $room}
            <div class="content block block-content box {if $index==0}first{/if} ">

                <div class="room">
                    {loop $room['photosArray'] $index $photo}
                    {if $index==0}
                    <div class="big-pic">
                        <a href="{BASE_URL}$photo" data-lightbox="gallery{$room['id']}" data-title="{$room['name']}">
                            <img src="{BASE_URL}$photo">
                        </a>
                        <div class="more">点击可查看更多大图</div>
                    </div>
                    {else}
                    <a style="display: none;" href="{BASE_URL}$photo" data-lightbox="gallery{$room['id']}" data-title="{$room['name']}">
                    </a>
                    {/if}
                    {/loop}

                    <div class="info">
                        <div class="title">{$room['name']}</div>
                        <div class="price"><b>平日价:</b> <span>{$room['price']}元/天</span></div>
                        <div class="price"><b>节假日价:</b>
                            {if $room['otherPrice'] > 0}
                            <span>{$room['otherPrice']}元/天</span>
                            {/if}
                        </div>
                        <div class="desc"><b>描述:</b> {$room['desc']}</div>
                        <div class="order">
                            <form method="POST" action="{SITE_URL}hotel/order">
                                <input type="hidden" name="room_id" value="{$room['id']}">
                                <button type="submit" class="btn btn-large btn-success">预订</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {/loop}
        </div>

        <div class="span4">
            <div class="content box">
                <div class="cart">
                    <div class="logo">
                        <img src="{BASE_URL}{if $hotel['logo']}$hotel['logo']{else}Public/image/house.jpg{/if}">
                    </div>

                    <div class="right-side">
                        <div class="title">{$hotel['name']}</div>
                        <div class="contact"><b>联系电话:</b> {$hotel['tel']}</div>
                        <div class="contact"><b>其他电话:</b> {$hotel['otherTel']}</div>
                    </div>
                </div>
            </div>

            <div class="content box block">
                <div class="header">地址</div>
                <div>{$hotel['address']}</div>
            </div>

            <div class="content box block">
                <div class="header">公告</div>
                <div class="notice">{$hotel['desc']}</div>
            </div>

        </div>
    </div>

</div><!--/.fluid-container-->

<link rel="stylesheet" type="text/css" href="{PUBLIC_URL}lightbox/css/lightbox.css">
<script src="{PUBLIC_URL}lightbox/js/lightbox.min.js"></script>

{importTemplate('public\footer')}