<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>订房系统后台</title>

<link href="{PUBLIC_URL}dwz/themes/default/style.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{PUBLIC_URL}dwz/themes/css/core.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{PUBLIC_URL}dwz/themes/css/print.css" rel="stylesheet" type="text/css" media="print"/>
<!--
<link href="uploadify/css/uploadify.css" rel="stylesheet" type="text/css" media="screen"/>
-->
<!--[if IE]>
<link href="{PUBLIC_URL}dwz/themes/css/ieHack.css" rel="stylesheet" type="text/css" media="screen"/>
<![endif]-->

<!--[if lte IE 9]>
<script src="{PUBLIC_URL}js/speedup.js" type="text/javascript"></script>
<![endif]-->


<script src="{PUBLIC_URL}js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="{PUBLIC_URL}js/jquery.cookie.js" type="text/javascript"></script>
<script src="{PUBLIC_URL}js/jquery.validate.js" type="text/javascript"></script>
<script src="{PUBLIC_URL}js/jquery.bgiframe.js" type="text/javascript"></script>
<!-- 
<script src="xheditor/xheditor-1.2.1.min.js" type="text/javascript"></script>
<script src="xheditor/xheditor_lang/zh-cn.js" type="text/javascript"></script>
<script src="uploadify/scripts/jquery.uploadify.js" type="text/javascript"></script>
-->

<script src="{PUBLIC_URL}js/dwz.min.js" type="text/javascript"></script>
<script src="{PUBLIC_URL}js/dwz.regional.zh.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
	DWZ.init("{PUBLIC_URL}dwz/dwz.frag.xml", {
		loginUrl:"login_dialog.html", loginTitle:"登录",	// 弹出登录对话框
		statusCode:{ok:200, error:300, timeout:301}, //【可选】
		pageInfo:{pageNum:"pageNum", numPerPage:"numPerPage", orderField:"orderField", orderDirection:"orderDirection"}, //【可选】
		keys: {statusCode:"statusCode", message:"message"}, //【可选】
		debug:false,	// 调试模式 【true|false】
		callback:function(){
			initEnv();
			$("#themeList").theme({themeBase:"{PUBLIC_URL}dwz/themes"}); // themeBase 相对于index页面的主题base路径
		}
	});
});

</script>
</head>

<body scroll="no">
	<div id="layout">
		<div id="header">
			<div class="headerNav">
				<ul class="nav">
					<!-- <li><a href="changepwd.html" target="dialog" width="600">设置</a></li>  -->
					<li><a href="{SITE_URL}admin/signOut">退出</a></li>
				</ul>
				<ul class="themeList" id="themeList">
					<li theme="default"><div class="selected">蓝色</div></li>
					<li theme="green"><div>绿色</div></li>
					<li theme="purple"><div>紫色</div></li>
					<li theme="silver"><div>银色</div></li>
					<li theme="azure"><div>天蓝</div></li>
				</ul>
			</div>

			<!-- navMenu -->

		</div>

        <div id="leftside">
            <div id="sidebar_s"><!--左侧拖动框-->
                <div class="collapse">
                    <div class="toggleCollapse">
                        <div></div>
                    </div>
                </div>
            </div>
            <div id="sidebar"><!--左侧-->
                <div class="toggleCollapse"><h2>主菜单</h2>

                    <div>收缩</div>
                </div>
                <div class="accordion" fillSpace="sidebar">
                    <div class="accordionHeader">
                        <h2><span>Folder</span>宾馆管理</h2>
                    </div>
                    <div class="accordionContent">
                        <ul class="tree">
                            <li><a href="{SITE_URL}admin/hotel/all" target="navTab" rel="hotel_all">宾馆列表</a></li>
                            <li><a href="{SITE_URL}admin/room/all" target="navTab" rel="room_all">房间列表</a></li>
                        </ul>
                    </div>
                    <div class="accordionHeader">
                        <h2><span>Folder</span>用户管理</h2>
                    </div>
                    <div class="accordionContent">
                        <ul class="tree">
                            <li><a href="{SITE_URL}admin/user/all" target="navTab" rel="user_all">用户列表</a></li>
                            <li><a href="{SITE_URL}admin/user/all?type=merchant" target="navTab" rel="merchant_all">商家列表</a></li>
                        </ul>
                    </div>

                    <div class="accordionHeader">
                        <h2><span>Folder</span>系统管理</h2>
                    </div>
                    <div class="accordionContent">
                        <ul class="tree treeFolder treeCheck">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
		<div id="container">
			<div id="navTab" class="tabsPage">
				<div class="tabsPageHeader">
					<div class="tabsPageHeaderContent"><!-- 显示左右控制时添加 class="tabsPageHeaderMargin" -->
						<ul class="navTab-tab">
							<li tabid="main" class="main"><a href="javascript:;"><span><span class="home_icon">后台主页</span></span></a></li>
						</ul>
					</div>
					<div class="tabsLeft">left</div><!-- 禁用只需要添加一个样式 class="tabsLeft tabsLeftDisabled" -->
					<div class="tabsRight">right</div><!-- 禁用只需要添加一个样式 class="tabsRight tabsRightDisabled" -->
					<div class="tabsMore">more</div>
				</div>
				<ul class="tabsMoreList">
					<li><a href="javascript:;">后台主页</a></li>
				</ul>
				<div class="navTab-panel tabsPageContent layoutBox">
					<div class="page unitBox">
						<div class="accountInfo">
							<div class="alertInfo">
								<p><a href="https://code.csdn.net/dwzteam/dwz_jui/tree/master/doc" target="_blank" style="line-height:19px"><span>DWZ框架使用手册</span></a></p>
								<p><a href="http://pan.baidu.com/s/18Bb8Z" target="_blank" style="line-height:19px">DWZ框架开发视频教材</a></p>
							</div>
							
							<p><span>DWZ富客户端框架</span></p>
							
						</div>

						<div style="width:230px;position: absolute;top:60px;right:0" layoutH="80">
							<!--<iframe width="100%" height="430" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?width=0&height=430&fansRow=2&ptype=1&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=1739071261&verifier=c683dfe7"></iframe>-->
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

    <div id="footer">Copyright &copy; 2014 订房系统</div>

</body>
</html>