<form id="pagerForm" method="post" action="{SITE_URL}admin/room/all">
<!-- 
	<input type="hidden" name="status" value="${param.status}">
	<input type="hidden" name="keywords" value="${param.keywords}" />
	 -->
	<input type="hidden" name="pageNum" value="{$page['pageIndex']}" />
	<input type="hidden" name="numPerPage" value="{$page['pageSize']}" />
	<input type="hidden" name="orderField" value="" />
	<input type="hidden" name="orderDirection" value="desc" />
</form>

<div class="pageHeader">

</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="{SITE_URL}admin/room/edit" target="navTab"><span>添加</span></a></li>
			<li><a class="delete" href="{SITE_URL}admin/room/delete?room_id=!#{room_id}#!" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li><a class="edit" href="{SITE_URL}admin/room/edit?room_id=!#{room_id}#!" target="navTab"><span>修改</span></a></li>
			<li class="line">line</li>
			<!--
			<li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>
			-->
		</ul>
	</div>
	<table class="table" width="100%" layoutH="138">
		<thead>
			<tr>
                <th width="130">ID</th>
                <th>类型名称</th>
                <th>价格</th>
                <th>总量</th>
                <th>空闲量</th>
                <th>所属宾馆</th>
			</tr>
		</thead>
		<tbody>
            {loop $page['records'] $room}
			<tr target="room_id" rel="{$room['id']}">
                <td align="center">{$room['id']}</td>
                <td align="center">{$room['name']}</td>
                <td align="center">{$room['price']}</td>
                <td align="center">{$room['amount']}</td>
                <td align="center">{$room['stock']}</td>
                <td align="center">{$room['hotel']['name']}</td>
			</tr>
            {/loop}
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="30" {if $page['pageSize']==30}selected="selected"{/if}>30</option>
                <option value="50" {if $page['pageSize']==50}selected="selected"{/if}>50</option>
                <option value="100" {if $page['pageSize']==100}selected="selected"{/if}>100</option>
            </select>
			<span>条，共{$page['totalRecords']}条</span>
		</div>

		<div class="pagination" targetType="navTab" totalCount="{$page['totalRecords']}" numPerPage="{$page['pageSize']}" pageNumShown="5" currentPage="{$page['pageIndex']}"></div>

	</div>
</div>
