<!DOCTYPE HTML>
<html>
<head>
<title>后台登录</title>
<link href="{PUBLIC_URL}css/sign_in.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!-- -->

</head>
<body>
<!-- contact-form -->	
<div class="message warning">
<div class="inset">
	<div class="login-head">
		<h1>后台管理登录</h1>
	</div>
		<form method="POST" action="{SITE_URL}admin/doSignIn">
			<li>
				<input type="text" class="text" name="tel" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}"><a href="#" class=" icon user"></a>
			</li>
				<div class="clear"> </div>
			<li>
				<input type="password" name="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"> <a href="#" class="icon lock"></a>
			</li>
			<div class="clear"> </div>
			<div class="submit">
				<input type="submit" value="Sign in" >
						  <div class="clear">  </div>
			</div>
				
		</form>
		</div>					
	</div>
	</div>
	<div class="clear"> </div>

</body>
</html>